Source: vera
Section: text
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: texinfo, dictfmt, dictzip
Homepage: http://home.snafu.de/ohei/vera/vera-e.html

Package: vera
Architecture: all
Description: Dictionary of computer related acronyms -- info format
 The free edition of V.E.R.A. - Virtual Entity of Relevant Acronyms -
 is a comprehensive dictionary of computer related acronyms with more
 than 11000 entries.  This package contains the dictionary formatted
 as a single info file.
 .
 Note that this version is usually older than the one that is run on
 the V.E.R.A. homepage.
Depends: ${misc:Depends}, info | info-browser

Package: dict-vera
Architecture: all
Provides: dictd-dictionary
Description: Dictionary of computer related acronyms -- dict format
 The free version of V.E.R.A. - Virtual Entity of Relevant Acronyms -
 is a comprehensive dictionary of computer related acronyms with more
 than 11000 entries.  This package contains the dictionary formatted
 for use by the dictionary server in the dictd package.
 .
 Note that this version is usually older than the one that is run on
 the V.E.R.A. homepage.
Depends: ${misc:Depends}, dictd | dict-server
